@import "navigation.css";

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
    background-color: var(--black);
}
.mainInner {
    background-color: var(--black);
    color: var(--white);
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}