@import "navigation.css";

.main {
    margin: 0 auto;
    min-height: 100%;
    width: 1500;
    margin-top: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}
.mainInner {
    background-color: var(--black);
    color: var(--white);
}
.mainInner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
}
.videoWindow{
    text-align: center;
    height: 500px;
    width: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--vanta_black);
    margin: 20px;
}
.submitForm{
    margin-top: 20px;
    margin-bottom: 30px;
}