:root {
    --orange: #ffa31a;
    --middle_orange: #f5b24d;
    --light_orange: #fac16c;
    --dark_orange: #c47e16;
    --light_grey: #808080;
    --black: #1b1b1b;
    --almost_black: #292929;
    --vanta_black: #000000;
    --black2: #0f0f0f;
    --white: #ffffff;
    --menu-speed: 0.7s;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: var(--black2);
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
img[name="logo"]{
  display: block;
  height: 40px!important;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
}
.header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: var(--vanta_black);
    position: fixed;
    min-height: 60px;
    max-height: 120px;
    height: fit-content;
    overflow: hidden;
    z-index: 10;
    vertical-align: middle;
    color: var(--white);
    font-size: 50;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--vanta_black);
    height: 60px;
}

/* Subnav button */
.subnav {
    float: left;
    height: 60px;
    text-align: center;
    padding: 16px 16px;
    overflow: hidden;
    transition: .3s all; 
}

.subnav .subnavbtn {
    color: var(--white);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    visibility:hidden;
    position:fixed;
    height: 60px;
    left: 0;
    background-color: var(--black2);
    top: 50px;
    width: 100%;
    vertical-align: top;

    transition: .2s all;   
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    visibility: visible;
    height: 50px;
    overflow: hidden;
    animation-fill-mode: forwards;
}

.subnav:hover {
    background-color: var(--black2);
}

.subnav .subnav-content div{
    float: left;
    height: 50px;
    text-align: center;
    padding: 10px 10px;
}

.subnav .subnav-content div a{
    color: var(--white);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.subnav .subnav-content div:hover{
    background-color: var(--black);
}

.subnav .subnav-content div.active a {
    border-bottom: 3px solid var(--orange);
}

/* Style the links inside the navigation bar */
.topnav div.reg {
    float: left;
    height: 60px;
    text-align: center;
    padding: 16px 16px;
}

.topnav div a {
    color: var(--white);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
  
/* Change the color of links on hover */
.topnav div.reg:hover {
    background-color: var(--black2);
}

.topnav div.active a {
    border-bottom: 3px solid var(--orange);
    font-weight: bold;
}

#sidebarMenu {
    z-index: 1000;
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    opacity: 80%;
    background: var(--vanta_black);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInnerBottom{
    margin:0;
    padding:0;
    position: absolute;
    width: 250px;
    right: 0;
    bottom: 75;
    border-top: 1px solid var(--orange);
}
.sidebarMenuInnerBottom li{
    list-style: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--orange);
}
.sidebarMenuInnerBottom li a{
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.sidebarMenuInner li{
    list-style: none;
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: var(--white);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[type="checkbox"].openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(-20px);
}
input[type=checkbox].openSidebarMenu {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 15px;
    right: 20px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--white);
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 5px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 5px;
}
input[type=checkbox].openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0; 
}
input[type=checkbox].openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg) translateY(-3.5px);
    margin-top: 8px;
}
input[type=checkbox].openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg) translateY(3.5px);
    margin-top: -9px;
}

.footer{
    margin: 0 auto;
    width: 100%;
    height: 250px;
    background-color: var(--vanta_black);
    position: relative;
    margin-top: -50px;
    bottom: 0;
}