@import "navigation.css";

.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
    background-color: var(--black);
}

.mainInner{
    color: var(--white);
    display: table;
    min-height: 800px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.mainInner div.tableContainer{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-align: center;
    align-items: center;
}

.mainInner div table, th, td {
    border: 1px solid var(--vanta_black);
    border-collapse: collapse;
    text-align: center;
}

.mainInner div table {
    margin: auto;
    position: relative;
    table-layout: auto;
    border-collapse: separate;
    width: 80%;
    border-radius: 20px;
    border-color: var(--vanta_black);
}

label {
    color: var(--white);
    font-weight: bold;
}

th {
    color: var(--white);
    background-color: var(--vanta_black);
    font-size:30px;
    font-weight: bold;
}

th:first-child {
    border-top-left-radius: 20px;
}

th:last-child {
    border-top-right-radius: 20px;
}

tr td form{
    margin: 0 auto;
    white-space: nowrap;
    align-items: center;
    text-align: center;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}
tr:last-child td:first-child form .calbtns{
    border-bottom-left-radius: 20px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}
tr:last-child td:last-child form .calbtns{
    border-bottom-right-radius: 20px;
}

form div {
    white-space: nowrap;
    align-items: center;
    text-align: left;
    font-size: 40;
    font-weight: bold;
}

.dayNum {
    color: var(--white)
}

.current {
    color: var(--orange)!important;
}

.calbtns {
    margin: 0 auto;
    font-weight: bold;
    height: 200px;
    width: 200px;
    font-size: 50;
    color: var(--orange);
    background-color: var(--black2);
}

.calbtns:hover {
    background-color: var(--vanta_black);
    color: var(--dark_orange);
}