@import "navigation.css";


.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
    background-color: var(--black);
}
.mainInner {
    color: var(--white);
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}

.mainInner div table, th, td {
    border: 1px solid var(--vanta_black);
    border-collapse: collapse;
}

table {
    table-layout: auto;
    border-collapse: separate;
    width: 80%;
    border-radius: 20px;
    border-color: var(--vanta_black);
}

th {
    color: var(--white);
    background-color: var(--vanta_black)
}

tr td form{
    white-space: nowrap;
    align-items: center;
    text-align: center;
}

form div {
    white-space: nowrap;
    align-items: center;
    text-align: center;
}

.dayNum {
    color: var(--white)
}

.current {
    color: var(--orange)!important;
}

.calbtns {
    font-weight: bold;
    height: 200px;
    width: 200px;
    font-size: 50;
    color: var(--orange);
    background-color: var(--black2);
}

.calbtns:hover {
    background-color: var(--vanta_black);
    color: var(--dark_orange);
}