<html>
    <head>
        <title>CheckPoint Dashboard</title>  
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    </head>
<div class="header"></div>
<img name="logo" src="{{url_for('static', filename='images/icons/Checkpoint_Logo_Large.png')}}" alt="Checkpoint Logo">  
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>{{form.name}} <span>{{form.title}}</span></li>
      <li><a href="{{url_for('profile')}}">Profile</a></li>
      <li><a href="">Timecard</a></li>
      <li><a href="">Verified</a></li>
      <li><a href="{{url_for('login')}}">Logout</a></li>
    </ul>
    <ul class="sidebarMenuInner">
        <li><a href="">Management</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="mainInner">
      <div>Hello</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
  </div>
</html>