{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{current_user.fname}}'s Dashboard{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
    <div id='center' class="main center">
      <div class="mainInner">
        {% if uType == "user" %}
          {% if curr_org.checkMask or curr_org.checkSymptom %}
            <div class="card verify">
              <form method="POST" activity="">
                {{ form.hidden_tag() }} 
                <div class="verBack {{'green' if verified else 'red'}}">
                  <label class="cardTimeLabel">Last Checked:</label>
                  <label class="cardDate">{{nowDate}}</label>
                  <label class="cardTime">{{nowTime}}</label>
                  {{form.refresh}}
                  <div class="cardTop"><label class="cardHead">{{'Verified' if verified else 'Not Verified'}}</label></div>
                  <div class= "itemHeader">
                    {% if curr_org.checkMask %}
                      <p>Mask Check</p>
                    {% endif %}
                    {% if curr_org.checkSymptom %}
                      <p>Submit Symptom</p>
                    {% endif %}
                  </div>
                  <div class="itemBody">
                    {% if curr_org.checkMask %}
                      {% if verify.maskVerify %}
                        <p>Completed</p>
                      {% else %}
                        <p>{{form.toMask}}</p>
                      {% endif %}
                    {% endif %}
                    {% if curr_org.checkSymptom %}
                      {% if verify.symptomVerify%}
                        <p>Completed</p>
                      {% else %}
                        <p>{{form.toSymptom}}</p>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </form>
            </div>
          {% endif %}
          {% if curr_org.checkTimecard %}
            <div class="card clock">
              <div class="cardFiller">
                <form method="POST" activity="">
                  {{ form.hidden_tag() }} 
                  {% if not clocked %}
                    {{form.clockIn(class="clockBtn")}}
                  {% else %}
                    {{form.clockOut(class="clockBtn")}}
                    <br><Label class="clockLabel">Clock In Time : {{form.lastClockIn}}</label>
                  {% endif %}
                </form>
              </div>
            </div>
          {% endif %}
        {% else %}
          <label>No Dashboard Content</label>
        {% endif %}
      </div>
    </div>
    {% endblock content%}
</html>