    <!DOCTYPE html>    
    <html>    
    <head>    
        <title>CheckPoint</title>    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">    
    </head>    
    <body> 
        <img name="logo" src="{{url_for('static', filename='images/icons/Checkpoint_Logo_Large.png')}}" alt="Checkpoint Logo">  
        <img name="background" src="{{url_for('static', filename='images/backgrounds/Office_BG.png')}}" alt="Background">
        <div class="login">    
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.username }}
                {{ form.password }}
                {{ form.submit }}
            </form>
            <button type="button" class="button" name="log" id="log" onclick="validate()">LOG IN</button>       
            <br><br>    
            <input type="checkbox" id="check">    
            <span>Remember Me</span>    
            <br><br>    
            <a href="#">Forgot Password?</a>
            <a href="{{url_for('register')}}">Sign Up</a>      
        </form>     
    </div>
    <div class="botBanner">
        <label type="bottom">© 2022 CheckPoint</label>
    </div>    
    </body>    
    </html>     
