{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{current_user.fname}}'s Mask Verification{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mask_verify.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
    <div id='center' class="main center">
      <div class="mainInner">
      <body>
          <h1>Mask Verify Content</h1>
          <div>
            <img src="{{ url_for('video') }}" width="50%"/>
          </div>
        </div>
      </div>
    {% endblock %}
</html>