<html>
  <head>
    <title>{% block title %}{% endblock %}</title>  
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/navigation.css') }}"/>
    {% endblock stylesheet %}
  </head>
  <div class="header">
    <div><a href="{{url_for('dashboard')}}"><img name="logo" src="{{url_for('static', filename='images/icons/Checkpoint_Logo_Large.png')}}" alt="Checkpoint Logo"></img></a></div>
    <div class="topnav">
        {% for item in nav.top %}
            <div class="{{ 'active' if item.is_active else '' }}">
                <a href="{{ item.url }}"><b>{{item.label}}</b></a>
            </div>
        {% endfor %}
    </div>
  </div> 
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>{{form.firstName}} {{form.lastName}}<span>{{form.title}}</span></li>
      {% for item in nav.top %}
        <li>
          <a href="{{ item.url }}">{{item.label}}</a>
        </li>
      {% endfor %}
    </ul>
    {% if form.isAdmin %}
    <ul class="sidebarMenuInner">
        <li><a href="">Management</a></li>
    </ul>
    {% endif %}
    <ul class="sidebarMenuInnerBottom">
      <li><a href="{{url_for('login')}}">Logout</a></li>
    </ul>
  </div>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>