{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{current_user.orgName}}'s Org Management{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/org_management.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
      <div id='center' class="main center">
        <div class="mainInner">
          <form method="POST" action="">
            {{ form.hidden_tag() }} 
            <br><div>{{form.checkTimecard}} Timecard</div>
            <br><div>{{form.checkMask}} Mask</div>
            <br><div>{{form.checkSymptom}} Symptom</div>
            {{form.submit}}
          </form>
        </div>
      </div>
    {% endblock %}
</html>