{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{current_user.orgName}}'s Management{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/org_management.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
      <div id='center' class="main center">
        <div class="mainInner">
          <form method="POST" action="">
            {{ form.hidden_tag() }} 
            <br>{{form.checkTimecard(class="setting")}} <label>Timecard</label>
            <br>{{form.checkMask(class="setting")}} <label>Mask</label>
            <br>{{form.checkSymptom(class="setting")}} <label>Symptom</label>
            <br>{{form.submit}}
          </form>
        </div>
      </div>
    {% endblock %}
</html>