{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{form.firstName}}'s Profile{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
      <div id='center' class="main center">
        <div class="mainInner">
          <div>
            <img class= "bannerImage" src="{{form.bannerImageSrc}}" alt="No Picture Found" />
          </div>
          <div>
            <img class= "profileImage" src="{{form.profileImageSrc}}" alt="No Picture Found" />
          </div>
          <div class="name">{{form.firstName}} {{form.lastName}} {{form.pronouns}}
            <div class="employeeNum" alt="Employee Number">{{form.employeeNum}}</div>
          </div>
          <div class="position"> {{form.title}} </div>
          <div class="card employment">
            <div class= "contentTitle">Employment Information</div>
            <div class="item">
              <div class= "itemHeader">
                <p>Work Email</p>
                <p>Employee ID</p>
                <p>Employment Type</p>
                <p>Pay Rate</p>
                <p>Supervisor/Manager</p>
              </div>
              <div class="itemBody">
                <p>admin@checkpointmail.com{{form.employmentType}}</p>
                <p>000000001{{form.employeeID}}</p>
                <p>Part Time{{form.employmentType}}</p>
                <p>${{form.payRate}}420/century{{form.payInterval}}</p>
                <p>Big Boss{{form.superior}}</p>
              </div>
            </div>
          </div>

          <div class="card organization">
            <div class= "contentTitle">Organization Information</div>
            <div class="item">
              <div class= "itemHeader">
                <p>Name</p>
                <p>Address</p>
                <p>President</p>
              </div>
              <div class="itemBody">
                <p>Wentworth Institute of Technology{{form.orgName}}</p>
                <p>550 Huntington Ave, Boston, MA 02115{{form.orgAddress}}</p>
                <p>Mark A. Thompson{{form.orgLeader}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
</html>