{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{form.fname}}'s Profile{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
      <div id='center' class="main center">
        <div class="mainInner">
          <div>
            <img class= "bannerImage" src="{{form.bannerImageSrc}}" alt="No Picture Found" />
          </div>
          <div>
            <img class= "profileImage" src="{{form.profileImageSrc}}" alt="No Picture Found" />
          </div>
          <div class="name">{{current_user.fname}} {{current_user.lname}} {{form.pronouns}}</div>
          <div class="position">{{form.title}}</div>
          <div class="card employment">
            <div class= "contentTitle">Employment Information</div>
            <div class="item">
              <div class= "itemHeader">
                <p>Work Email</p>
                <p>Phone Number</p>
                <p>Employee ID</p>
                <p>Employment Type</p>
                <p>Pay Rate</p>
                <p>Supervisor/Manager</p>
              </div>
              <div class="itemBody">
                <p>{{current_user.email}}</p>
                <p>{{current_user.phone}}
                <p>{{current_user.workId}}</p>
                <p>{{current_user.etype}}</p>
                <p>${{current_user.pay/100.0}}/{{current_user.payInt}}</p>
                <p>{% if current_user.superior == "" %}None{% endif %}{{current_user.superior}}</p>
              </div>
            </div>
          </div>

          <div class="card organization">
            <div class= "contentTitle">Organization Information</div>
            <div class="item">
              <div class= "itemHeader">
                <p>Name</p>
                <p>Address</p>
                <p>President</p>
              </div>
              <div class="itemBody">
                <p>{{form.orgName}}</p>
                <p>{{form.orgAddress}}</p>
                <p>{{form.orgLeader}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
</html>