<!DOCTYPE html>    
    <html>    
    <head>    
        <meta charset="UTF">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>    
    <body> 
        <h1>Register Organization Page</h1>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <br> {{ form.orgUname }}
            <br> {{ form.orgPass }}
            <br> {{ form.confirm }}
            <br> {{ form.orgName }}
            <br> {{ form.phoneorg }}
            <br> {{ form.des }}
            <br> {{ form.ceo }}
            <br> {{ form.orgAddress }}
            <br> {{ form.logoURL}}
            <br> {{ form.bannerURL}}
            <br> {{ form.orgid}}
            <br> {{ form.checkTimecard}} Enable Timecard
            <br> {{ form.checkMask}} Enable Mask Check
            <br> {{ form.checkSymptom}} Enable Symptom Check
            <br> {{ form.submit }}
            <br> 
        <a href="{{url_for('register')}}">User Register</a>
        <a href="{{url_for('login')}}">Login</a>
    </body>    
    </html>     
 