{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{current_user.fname}}'s Symptoms{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/symptom_check.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
    <div id='center' class="main center">
      <div class="mainInner">
        <div>Symptom Content</div>
        <form method="POST" action="">
          {{ form.hidden_tag() }} 
          {{form.submit}}
        </form>
      </div>
    </div>
    {% endblock %}
</html>