{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{form.firstName}}'s Timecard{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timecard.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
    <div id='center' class="main center">
        <div class = "mainInner">
            <div>
                <table>
                    <tr>
                        <th>Sunday</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                    </tr>
                        <tr>
                            {% for i in range(7) %}
                                <td>
                                    <div><a href=""><Button type="button" onclick="{% set current_day = i %}">

                                    </a></div>
                                </td>
                            {% endfor %}
                        </tr>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</html>