{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{current_user.fname}}'s Timecard{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timecard.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
    <div id='center' class="main center">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {% if clocked %}
                {{form.clockOut}}
                <Label>Clock In Time : {{form.lastClockIn}}</label>
            {% else %}
                {{form.clockIn}}
            {% endif %}
        </form>
        <div class = "mainInner">
            <div class="tableContainer">
                {% if weeks > 0 %}
                    <table>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                            {% for i in range(weeks) %}
                                <tr>
                                    {% for i in range(i*7, i*7+7, 1) %}
                                        <td>
                                            <form action='/load_timecard_modal' method='POST'>
                                                {% if form.dayVals[i] == today %}
                                                    <div class="current dayNum">{{form.dayVals[i]}}</div>
                                                {% else %}
                                                    <div class="dayNum">{{form.dayVals[i]}}</div>
                                                {% endif %}
                                                <input type='hidden' value={{i}} name='id'/>
                                                <input type='submit' value={{curr_timecard_hours[i]}} class="calbtns"/>
                                            </form>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                    </table>
                    <div>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            {{form.saveDraft}}
                            {{form.submit}}
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
</html>