{% extends 'navigation.html' %}
<html>
    <head>
        {% block title %}{{form.firstName}}'s Verification{% endblock %}  
        {% block stylesheet %}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/verify.css') }}">
        {% endblock stylesheet %}
    </head>
    {% block content %}
    <div id='center' class="main center">
      <div class="mainInner">
        <div>Verify Content</div>
      </div>
      <div class="mainInner">
        <div>Verify Content</div>
      </div>
      <div class="mainInner">
        <div>Verify Content</div>
      </div>
    </div>
    {% endblock %}
</html>